fastapi
uvicorn[standard]

sqlalchemy
asyncpg
psycopg[binary]
alembic

pydantic
pydantic-settings

redis
celery

python-jose[cryptography]
cryptography
passlib[bcrypt]
python-multipart

httpx
aiofiles

yt-dlp[default,curl-cffi]

structlog

pytest
pytest-asyncio
gallery-dl==1.32.9

requests==2.34.2
